@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    color: white;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    display:flex;
    flex-direction: column;
    background-image: linear-gradient(to right, black, grey);

    
}

.nav{
    display:flex;
    justify-content: space-around;
    width:100%;
    height:100px;
    align-items: center;
    background-color: black;

}
.nav, .designer{
    font-size: 2rem;
    font-weight: 600;
}
.container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 100px);

}
.container .right{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
}
.container img{
    width:100%;
    height:100%;

}
    
